
.depicter-revert.depicter-1 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-1-element-18:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-1-element-18 .depicter-symbol-container{
	fill:#FF1616;
	transition:all ease 0.5s;
}
.depicter-1-element-18:hover .depicter-symbol-container{
	fill:#111111;
}
.depicter-revert .depicter-1-element-19:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-1-element-19 .depicter-symbol-container{
	fill:#ff1616;
	transition:all ease 0.5s;
}
.depicter-1-element-19:hover .depicter-symbol-container{
	fill:#111111;
}
.depicter-revert .depicter-1-element-17{
	box-shadow:6px 6px 55px 0px rgba(0, 0, 0, 0.2);
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-16{
	font-size:14px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-15{
	font-size:15px;
	color:#0F0F0F;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-15:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-1-element-15:not(.depicter-hover-off):hover {
	color:#FF1616;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-14{
	font-size:14px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-13{
	font-size:15px;
	text-align:center;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-13:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-1-element-13:not(.depicter-hover-off):hover {
	color:#FF1616;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-12{
	font-size:14px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-11{
	font-size:15px;
	color:#ff1616;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-11:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-1-element-11:not(.depicter-hover-off):hover {
	color:#FF1616;
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-6{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-element-5{
	background-color:#FF1616;
}
.depicter-revert .depicter-1-element-4{
	font-size:15px;
	color:#505050;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-3{
	font-size:60px;
	color:#FF1616;
	font-family:"Great Vibes";
	font-weight:400;
	line-height:120%;
	letter-spacing:2px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-2{
	font-size:80px;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-element-125{
	box-shadow:6px 6px 55px 0px rgba(0, 0, 0, 0.2);
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-124{
	font-size:14px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-123{
	font-size:15px;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-123:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-1-element-123:not(.depicter-hover-off):hover {
	color:#FF1616;
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-122{
	font-size:14px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-121{
	font-size:15px;
	text-align:center;
	color:#ff1616;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-121:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-1-element-121:not(.depicter-hover-off):hover {
	color:#FF1616;
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-120{
	font-size:14px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-119{
	font-size:15px;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-119:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-1-element-119:not(.depicter-hover-off):hover {
	color:#FF1616;
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-118{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-element-117{
	background-color:#FF1616;
}
.depicter-revert .depicter-1-element-116{
	font-size:15px;
	color:#505050;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-115{
	font-size:60px;
	color:#ff1616;
	font-family:"Great Vibes";
	font-weight:400;
	line-height:120%;
	letter-spacing:2px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-114{
	font-size:80px;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-113 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-element-143{
	box-shadow:6px 6px 55px 0px rgba(0, 0, 0, 0.2);
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-142{
	font-size:14px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-141{
	font-size:15px;
	color:#FF1616;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-141:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-1-element-141:not(.depicter-hover-off):hover {
	color:#FF1616;
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-140{
	font-size:14px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-139{
	font-size:15px;
	text-align:center;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-139:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-1-element-139:not(.depicter-hover-off):hover {
	color:#FF1616;
}
.depicter-revert .depicter-1-element-138{
	font-size:14px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-137{
	font-size:15px;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-137:not(.depicter-hover-off){
	transition:all ease 0.5s;
}
.depicter-revert .depicter-1-element-137:not(.depicter-hover-off):hover {
	color:#FF1616;
}
.depicter-revert .depicter-1-element-136{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-element-135{
	background-color:#FF1616;
}
.depicter-revert .depicter-1-element-134{
	font-size:15px;
	color:#505050;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-133{
	font-size:60px;
	color:#ff1616;
	font-family:"Great Vibes";
	font-weight:400;
	line-height:120%;
	letter-spacing:2px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-132{
	font-size:80px;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-131 .depicter-section-background{
	background-color:#FFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-1-element-16{
	font-size:12px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
}
.depicter-revert .depicter-1-element-15{
	font-size:13px;
	text-align:center;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-1-element-14{
	font-size:12px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
}
.depicter-revert .depicter-1-element-13{
	font-size:13px;
	text-align:center;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-1-element-12{
	font-size:12px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
}
.depicter-revert .depicter-1-element-11{
	font-size:13px;
	text-align:center;
	color:#ff1616;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-1-element-4{
	font-size:13px;
	color:#505050;
	font-family:"Rubik";
	font-weight:400;
	line-height:144%;
}
.depicter-revert .depicter-1-element-3{
	font-size:35px;
	color:#ff1616;
	font-family:"Great Vibes";
	font-weight:400;
	line-height:120%;
	letter-spacing:2px;
}
.depicter-revert .depicter-1-element-2{
	font-size:48px;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:700;
	line-height:120%;
}
.depicter-revert .depicter-1-element-124{
	font-size:12px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
}
.depicter-revert .depicter-1-element-123{
	font-size:13px;
	text-align:center;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-1-element-122{
	font-size:12px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
}
.depicter-revert .depicter-1-element-121{
	font-size:13px;
	text-align:center;
	color:#ff1616;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-1-element-120{
	font-size:12px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
}
.depicter-revert .depicter-1-element-119{
	font-size:13px;
	text-align:center;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-1-element-116{
	font-size:13px;
	color:#505050;
	font-family:"Rubik";
	font-weight:400;
	line-height:144%;
}
.depicter-revert .depicter-1-element-115{
	font-size:35px;
	color:#ff1616;
	font-family:"Great Vibes";
	font-weight:400;
	line-height:120%;
	letter-spacing:2px;
}
.depicter-revert .depicter-1-element-114{
	font-size:48px;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:700;
	line-height:120%;
}
.depicter-revert .depicter-1-element-142{
	font-size:12px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
}
.depicter-revert .depicter-1-element-141{
	font-size:13px;
	text-align:center;
	color:#ff1616;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-1-element-140{
	font-size:12px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
}
.depicter-revert .depicter-1-element-139{
	font-size:13px;
	text-align:center;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-1-element-138{
	font-size:12px;
	text-align:center;
	color:#303030;
	font-family:"Rubik";
	font-weight:400;
	line-height:149%;
}
.depicter-revert .depicter-1-element-137{
	font-size:13px;
	text-align:center;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:400;
	line-height:120%;
}
.depicter-revert .depicter-1-element-134{
	font-size:13px;
	color:#505050;
	font-family:"Rubik";
	font-weight:400;
	line-height:144%;
}
.depicter-revert .depicter-1-element-133{
	font-size:35px;
	color:#ff1616;
	font-family:"Great Vibes";
	font-weight:400;
	line-height:120%;
	letter-spacing:2px;
}
.depicter-revert .depicter-1-element-132{
	font-size:48px;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:700;
	line-height:120%;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-4{
	font-size:12px;
	color:#505050;
	font-family:"Rubik";
	font-weight:400;
	line-height:144%;
}
.depicter-revert .depicter-1-element-3{
	font-size:33px;
	color:#ff1616;
	font-family:"Great Vibes";
	font-weight:400;
	line-height:120%;
	letter-spacing:2px;
}
.depicter-revert .depicter-1-element-2{
	font-size:37px;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:700;
	line-height:120%;
}
.depicter-revert .depicter-1-element-116{
	font-size:12px;
	color:#505050;
	font-family:"Rubik";
	font-weight:400;
	line-height:144%;
}
.depicter-revert .depicter-1-element-115{
	font-size:33px;
	color:#ff1616;
	font-family:"Great Vibes";
	font-weight:400;
	line-height:120%;
	letter-spacing:2px;
}
.depicter-revert .depicter-1-element-114{
	font-size:37px;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:700;
	line-height:120%;
}
.depicter-revert .depicter-1-element-134{
	font-size:12px;
	color:#505050;
	font-family:"Rubik";
	font-weight:400;
	line-height:144%;
}
.depicter-revert .depicter-1-element-133{
	font-size:33px;
	color:#ff1616;
	font-family:"Great Vibes";
	font-weight:400;
	line-height:120%;
	letter-spacing:2px;
}
.depicter-revert .depicter-1-element-132{
	font-size:37px;
	color:#0f0f0f;
	font-family:"Merriweather";
	font-weight:700;
	line-height:120%;
}

}
